.layout {
    height: 100%;
    overflow: hidden;
}

.layout>div {
    float: left;
}

.layout-right {
    width: 85%;
    height: 100%;
}

.layout-breadcrumb {
    height: 10px;
    margin-left: 20px; 
}

.layout-main {
    background: #f3f3f3;
    height: calc(100% - 50px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.layout-content {
    background: #fff;
    margin-top: 19px;
    height: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
}