.header {
    height: 50px;
    background-color: rgb(64, 64, 64);
}

.header>ul>li {
    height: 51px;
    line-height: 50px;
}

.header>ul>li>div :global(.anticon) {
    font-size: 20px;
    margin-right: 0;
}

.header-right {
    background-color: rgb(64, 64, 64);
    float: right;
    margin-right: 20px;
}

.header .photo {
    height: 38px;
    width: 38px;
    border-radius: 19px;
    margin-top: 6px;
}